/* -------------- 03 - CARRUSEL -------------- */
.carousel {
  height: auto;
  min-width: 980px;
  width: 100%;
  position: relative;
  z-index: 0;

  .flex-slider {
    position: relative;
    z-index: 0;
  }
  
  .flex-control-nav {
    display: none;
  }

  .flex-caption {
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    color: #fff;
    font-family: Verdana, sans-serif, Arial;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    margin: -53px auto 0;
    padding: 8px 10px;
    text-align: center;
    width: 980px;
    position: relative;
    bottom: 20px;
  }
  
  .custom-navigation {
    text-align: right;
    width: 980px;
    position: relative;
    bottom: 23px;
    right: 0;
    margin: -45px auto 0;
    padding: 5px 10px;

    a {
      background-color: #ccced2;
      border-radius: 5px;
      color: #50504f;
      display: inline-block;
      height: 35px;
      text-decoration: none;
      width: 38px;
      font-size: 25px;
      padding: 5px 0;
      text-align: center;
    }

    .left {
      margin-right: 5px;
    }
  }
}


@media (max-width: 980px) {
  .carousel {
    .custom-navigation {
      padding-right: 20px;
      width: 960px;
    }
  }
}