/* -------------- 02 - HEADER -------------- */
.header {
  background-color: #303030;
  border-top: solid 10px #000;
  color: #fff;
  height: 145px;
  min-width: 980px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .wrapper {
    margin: 0 auto;
    width: 980px;
  }
  
  .logo-brand {
    float: left;
    width: 40%;
  }
  
  .logo {
    margin: 0 10px 0 0;
    padding-top: 5px;
    height: 120px;
    width: 90px;
    float: left;
  }
  
  .brand-address {
    float: left;
    padding-top: 10px;
    margin: 0 20px;
    width: 210px;

    .brand {
      margin: 2px 0 5px;
    }
    
    .brand img {
      max-width: 205px;
      width: 100%;
      height: auto;
    }
    
    .address {
      font-size: 8px;
      line-height: 10px;
      text-align: center;
    }
  }
  
  .menu-social {
    float: left;
    width: 60%;
  }
  
  .menu {
    float: left;
    width: 500px;

    li {
      float: left;
      a {
        text-decoration: none;
      }

      &.active a,
      & a:hover {
        background-color: #000;
        border-bottom: #fff solid 5px;
      }
    }
    


    a {
      box-sizing: border-box;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      height: 135px;
      padding: 55px 20px;
      text-decoration: none;
    }
  }
  
  
  .social-buttons {
    float: right;
    min-width: 60px;
    width: 60px;
    height: 135px;
    padding: 54px 0;

    i {
      font-size: 22px;
    }

    i.icon-twitter {
      color: #5EA9DD;
    }

    i.icon-facebook {
      color: #fff;
      position: relative;
      background-color: #3765A3;
      border-radius: 2px;
      padding: 3px 2px 0;
      margin-left: 5px;
      margin-bottom: -4px;
      display: inline-block;
      height: 19px;
      top: 1px;
      font-size: 18px;
    }
    
    a {
      text-decoration: none;
      color: #c1c1c1;
    }
  }
  
}

@media (max-width: 980px) {
  .header {
    position: absolute;
    padding: 0 20px;
    width: 940px;

    .wrapper {
      width: 100%;
    }
  }
}